@(arquivo: Arquivo)

@main("Arquivo") {
    <h2>@arquivo.getName</h2>
    <table>
        <tr>
            <td>@arquivo.getContent</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>
            @helper.form(action = routes.Application.formularioCompartilhar(arquivo.getId())) {
                <div class="form-group">
                    <div class="d-inline bg-success">
                        <button id="new_folder" name="new_folder" class="btn btn-default">Compartilhar Arquivo</button>
                    </div>
                </div>
            }
            </th>
            <th>
            @helper.form(action = routes.Application.formularioEditarArquivo(arquivo.getId())) {
                <div class="form-group">
                    <div class="d-inline bg-success">
                        <button id="new_folder" name="new_folder" class="btn btn-default">Editar Arquivo</button>
                    </div>
                </div>
            }
            </th>
            <th>
            @helper.form(action = routes.Application.diretorio()) {
                <div class="form-group">
                    <div class="d-inline bg-success">
                        <button id="back" name="back" class="btn btn-default">Voltar</button>
                    </div>
                </div>
            }
            </th>
        </tr>
    </table>
}
