@(arquivo: Arquivo)

@main("Arquivo") {
    <h2>@arquivo.getNomeDoArquivo</h2>
    <table>
            <tr>
                <td>@arquivo.getConteudo</td>
            </tr>
    </table>

    <hr>
    @if(arquivo.getPastaId.equals("main")){

        @helper.form(action = routes.Application.diretorio()) {
            <div class="form-group">
                <div class="d-inline bg-success">
                    <button id="back" name="back" class="btn btn-default">Voltar</button>
                </div>
            </div>
        }

    } else {
        @helper.form(action = routes.Application.pasta(arquivo.getPastaId)) {
            <div class="form-group">
                <div class="d-inline bg-success">
                    <button id="back" name="back" class="btn btn-default">Voltar</button>
                </div>
            </div>
        }
    }
}
