@(formPasta: Form[Usuario], id: String)
@import b3.vertical.fieldConstructor

@main("") {
    <h2>Compartilhar</h2>
    @b3.form(routes.Application.compartilhar(id)) {

        @b3.inputType("text",formPasta("username"), 'class -> "extra-class", '_label -> "Compartilhar arquivo com usuario", 'placeholder -> "John" ,'required -> "true")

        @b3.submit('class -> "btn btn-primary"){
            <span class="glyphicon glyphicon-ok"></span> Salvar}
    }
    @helper.form(action = routes.Application.diretorio()) {
        @b3.submit('class -> "btn btn-danger"){ <span class="glyphicon glyphicon-remove"></span> Cancelar }

    }
}
