@(formArquivo: Form[Arquivo], id: String)
@import helper._

@main("Criar Arquivo") {
    @helper.form(routes.Application.novoArquivo()) {

        <input type="hidden" name="PastaId" value="@id" />

        <form class="form-horizontal">
            <fieldset>
                <legend></legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="nomeDoArquivo">Nome Do Arquivo</label>
                    <div class="col-md-4">
                        <input id="nomeDoArquivo" name="nomeDoArquivo" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="conteudo">Conteudo</label>
                    <div class="col-md-4">
                        <textarea id="conteudo" name="conteudo" rows="5" placeholder="" class="form-control input-md" required=""></textarea>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="entry_button"></label>
                    <div class="col-md-4">
                        <button id="entry_button" name="entry_button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>

            </fieldset>
        </form>



@*//        @inputText(formArquivo("nomeDoArquivo"), '_label -> "Nome Do Arquivo")*@
@*//        @textarea(formArquivo("conteudo"), '_label -> "Conteudo")*@
        @*<input type="hidden" name="PastaId" value="@id" />*@
        @*<input type="submit" value="Salvar">*@
    }

}