@(formPasta: Form[Pasta])
@import helper._

@main("Criar Pasta") {
    @helper.form(routes.Application.novaPasta()) {

        <form class="form-horizontal">
            <fieldset>
                <legend></legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="nomeDaPasta">Nome Da Pasta</label>
                    <div class="col-md-4">
                        <input id="nomeDaPasta" name="nomeDaPasta" type="text" placeholder="" class="form-control input-md" required="">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="entry_button"></label>
                    <div class="col-md-4">
                        <button id="entry_button" name="entry_button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>

            </fieldset>
        </form>




@*//        @inputText(formPasta("nomeDaPasta"), '_label -> "Nome Da Pasta")*@
        @*<input type="submit" value="Salvar">*@
    }

}