@(formArquivo: Form[Arquivo], id: String)
@extension = @{ Seq("txt"->"txt","md"->"md") }

    @import b3.vertical.fieldConstructor

    @main("") {
    <h2>Criar Arquivo</h2>
    @b3.form(routes.Application.novoArquivo(id)) {
        <table>
            <th>
                @b3.inputType("text", formArquivo("name"), 'class -> "extra_class", '_label -> "Nome", 'placeholder -> "Nome Do Arquivo.txt",'required -> "true")
            </th>
            <th>
                @b3.select( formArquivo("extension"), options = extension, '_label -> "Extensão" )
            </th>
        </table>

        @b3.textarea( formArquivo("content"), '_label -> "Conteúdo", 'rows -> 10 ,'required -> "true")

        <table>
            <th>
                @b3.submit('class -> "btn btn-primary") {
                    <span class="glyphicon glyphicon-floppy-saved"></span> Salvar}
            </th>
            <th>
                @b3.reset('class -> "btn btn-warning") {
                <span class="glyphicon glyphicon-exclamation-sign"></span> Limpar }
            </th>
        </table>

    }

    @helper.form(action = routes.Application.diretorio()) {
        @b3.submit('class -> "btn btn-danger"){ <span class="glyphicon glyphicon-remove"></span> Sair }

    }


}