@(arquivos: List[Arquivo], pastas: List[Pasta])

@main("Diretorio"){
    @if(arquivos.isEmpty){
        <h3>Não há Arquivos</h3>
    } else {
        <h3>Arquivos Cadastrados:</h3>
        <table>
            <tr>
                <th>Nome do Arquivo</th>
            </tr>
            @for(arquivo <- arquivos) {
                @if(arquivo.getPastaId.equals("main")) {
                    <tr>
                        <td><a href="@routes.Application.arquivo(arquivo.getId())">@arquivo.getNomeDoArquivo()</a></td>
                    </tr>
                }
            }
        </table>
    }

    @if(pastas.isEmpty){
        <h3>Não há Pastas</h3>
    } else {
        <h3>Pastas:</h3>
        <table>
            <tr>
                <th>Nome do Arquivo</th>
            </tr>
            @for(pasta <- pastas){
                <tr>
                    <td><a href="@routes.Application.pasta(pasta.getId())">@pasta.getNomeDaPasta()</a></td>
                </tr>
            }
        </table>
    }
    <hr>
    <a href="@routes.Application.formularioNovoArquivo("main")">Novo Arquivo</a>
    <a href="@routes.Application.formularioNovaPasta()">Novo Pasta</a>


}