@(formCupom: Form[Usuario])

@import b3.vertical.fieldConstructor

@main("") {
    <h2>Login</h2>
    @b3.form(action = routes.Application.login()) {

        @b3.inputType("text", formCupom("username"), 'class -> "extra_class", '_label -> "Name",'required -> "true" , 'placeholder -> "John")

        @b3.inputType("password", formCupom("password"), '_label -> "Password",'required -> "true")

        @b3.submit('class -> "btn btn-primary") {
            <span class="glyphicon glyphicon-ok"></span> Fazer login}

        @b3.reset('class -> "btn btn-danger") {
            <span class="glyphicon glyphicon-remove"></span> Limpar }

    }
    @*<a href="@routes.Application.formularioNovoUsuario">Novo Usuario</a>*@
    @b3.form(action = routes.Application.formularioNovoUsuario()) {
        @b3.buttonType("submit", 'class -> "btn btn-success") {
            <span class="glyphicon glyphicon-user"></span> Criar Novo Usuário }
    }
}

