@(formCupom: Form[Usuario])
@import helper._
    @import helper.twitterBootstrap._

@main(">>DRIVEBOX<<") {
    <h3>Login</h3>
    @helper.form(action = routes.Application.login()) {

    <form class="form-horizontal">
        <fieldset>
            <legend></legend>

            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-4">
                    <input id="username" name="username" type="text" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="password">Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="entry_button"></label>
                <div class="col-md-4">
                    <button id="entry_button" name="entry_button" class="btn btn-primary">Login</button>
                </div>
            </div>

        </fieldset>
    </form>
    }

    @*<a href="@routes.Application.formularioNovoUsuario">Novo Usuario</a>*@

    @helper.form(action = routes.Application.formularioNovoUsuario()) {
        <div class="form-group">
            <div class="d-inline bg-success">
                <button id="new_user" name="new_user" class="btn btn-default">Novo Usuario</button>
            </div>
        </div>
    }
}

