@(arquivos: List[Arquivo])

@main("Diretorio"){
    @if(arquivos.isEmpty){
        <h3>Não há Arquivos</h3>
    } else {
        <h3>Arquivos Cadastrados:</h3>
        <table>
            <tr>
                <th>Nome do Arquivo</th>
            </tr>
            @for(arquivo <- arquivos){
                <tr>
                    <td><a href="@routes.Application.arquivo(arquivo.getId())">@arquivo.getNomeDoArquivo()</a></td>
                </tr>
            }
        </table>
    }

    <hr>
    <a href="@routes.Application.formularioNovoArquivo()">Novo Arquivo</a>


}