@(arquivos: List[Arquivo],pastas: List[Pasta] , id: String)
@import b3.vertical.fieldConstructor

@main("Diretorio") {

    @if(pastas.isEmpty) {
        <h3>Não há Pastas</h3>
        <hr>
    } else {
        <h3>Minhas Pastas:</h3>
        @for(pasta <- pastas) {
            @b3.static(){<a href="@routes.Application.pasta(pasta.getId())">@pasta.getName()</a>)}
        }
    }

    @if(arquivos.isEmpty) {
        <h3>Não há Arquivos</h3>
    } else {
        <h3>Arquivos Cadastrados:</h3>
        @for(arquivo <- arquivos) {
            @b3.static(){<a href="@routes.Application.arquivo(arquivo.getId())">@arquivo.getName()</a>}
        }
    }

    <hr>

    <table>
        <tr>
            <th>
            @b3.form(action = routes.Application.formularioNovoArquivo(id)) {
                @b3.buttonType("new_file", 'class -> "btn btn-primary"){
                    <span class="glyphicon glyphicon-ok"></span> Novo arquivo }
            }
            </th>

            <th>
            @b3.form(action = routes.Application.formularioNovaPasta(id)) {
                @b3.buttonType("new_folder", 'class -> "btn btn-primary"){
                    <span class="glyphicon glyphicon-ok"></span> Nova Pasta }
            }
            </th>
        </tr>
    </table>

    @helper.form(action = routes.Application.diretorio()) {
        @b3.submit('class -> "btn btn-danger"){
            <span class="glyphicon glyphicon-remove"></span> Cancelar }
    }
}